*{
    padding: 0; 
    margin: 0;
}

.container-image{
    display: grid;
    width: 100%;
    grid-template-areas:
                 "destino destino destino";
    background-color:white;
    grid-gap: 20px;
    padding: 20px; 
}

.container-image > header {
    grid-area: destino;
    background-color: black;
    color: white;
}

