*{  
  font-family: 'Roboto', sans-serif;  
  box-sizing: border-box;
}

@media (min-width: 1281px) {
  
  a.nav-link{
    margin-left: 320px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 100px;
  }
  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
.text-wrapper{
  display: grid;
  text-align: center;
  padding: 100px;
}

.grid-container-card {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  justify-content: center;
}
.grid-item-card {

  padding: 20px;
  font-size: 30px;
  box-sizing: border-box;
}

.carousel-caption{
margin-bottom: 20px;
padding-left: 500px;
}

}