*{  
  font-family: 'Roboto', sans-serif;  
  box-sizing: border-box;
}

@media (min-width: 1281px) {
  
  a.nav-link{
    
    margin-left: 320px;
  }
  
  .carousel-caption{
    margin-bottom: 300px;
  }

  

  .item3{
    display: flex;
    margin-left: 100px;
    margin-top: 200px;
  }
  
  .icon-item{
    margin-left: 250px;
  }

  .item4{
    display: flex;
    margin-left: 150px;
    margin-top: 250px;
  }
  .card{
    margin-left: 100px;
  }
}


@media (min-width: 1025px) and (max-width: 1280px) {
  
  a.nav-link{
    margin-left: 180px;
    align-content: center;
  }
  

  
  .item4{
    display: flex;
    justify-content: center; 
  }
  
  .item3{

    margin-left: 101px;
    margin-top: 40px;
    margin-bottom: 104px;
  }

  .icon-item{
    margin-bottom: inherit;
  }

 
}

  

